* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 800px;
    height: 600px;
    background-color: black;
    margin: 0 auto;
}

#box {
    width: 150px;
    height: 150px;
    background-color: grey;
    border: 2px solid aquamarine;

    animation: rotating 15s linear 2s 1 forwards;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
        position: relative;
        top: 0;
        left: 0;
    }

    25% {
        transform: rotate(90deg);
        position: relative;
        top: 450px;
        left: 650px;
        background-color: steelblue;
    }

    50% {
        transform: rotate(180deg);
        position: relative;
        top: 450px;
        left: 0;
        background-color: darkolivegreen;
    }

    75% {
        transform: rotate(270deg);
        position: relative;
        top: 0;
        left: 650px;
        background-color: blueviolet;
    }

    100% {
        transform: rotate(360deg);
        position: relative;
        top: 0;
        left: 0;
        background-color: yellowgreen;
    }
}